*.class
*.log
out/
.bloop/
bin/

.ipynb_checkpoints

*.aux
*.toc
*.pdf
*.out

.idea/tasks.xml
.idea/workspace.xml
.idea/

.metals/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
*.pdf
*.ps
*.fdb_latexmk
*.fls
*.nav
*.snm
_*
*.vrb

.idea/
.idea_modules/
