*.class
*.log
out/
.bloop/
bin/

.ipynb_checkpoints

*.aux
*.toc
*.out

.idea/tasks.xml
.idea/workspace.xml
.idea/

.metals/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
*.ps
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
_site/
.idea/
.idea_modules/
.sass-cache/
*.ibc

target/